<mat-toolbar class="mat-elevation-z2">
  <mat-toolbar>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span>Blog Post</span>
    <span class="example-spacer"></span>

    <button mat-icon-button routerLink="/">
      <mat-icon>home</mat-icon>
    </button>

    <button mat-icon-button routerLink="/post">
      <mat-icon>info</mat-icon>
    </button>

    <button mat-icon-button routerLink="/about">
      <mat-icon>settings</mat-icon>
    </button>
  </mat-toolbar>
</mat-toolbar>
